.card {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 218px;
  border: 1px solid red;
}

@media (max-width: 768px) {
  .card {
    min-height: 257px;
  }
}

@media (max-width: 425px) {
  .card {
    min-height: 235px;
  }
}
