.movies-list__not-found {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000;
  margin: 0 0 26px;
  text-align: center;
}

@media (max-width: 768px) {
  .movies-list__not-found {
    margin: 0 0 22px;
  }
}

@media (max-width: 425px) {
  .movies-list__not-found {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 24px;
  }
}
